/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,300&display=swap');


/*Genreal*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
    color: #FFFFFF;
}

/*FondoS*/
.fondo{    
    background-position: center;
    background-size: cover;
}

.fondo-inicio{background-image: url("../img/fondos-opc/fondo-spa2.jpg");}
.fondo-servicios{background-image: url("../img/fondos-opc/fondo-servicios.jpg");}

.fondo-contacto{background-image: url("../img/contacto/fondo.jpg");
height: 100vh;}