main{
    text-align: center;
   
    /*INDEX*/

    h1{        
        color: $color-titulo;
        .sentirse-bien{
            color: $color-titulo;
            font-family: "Rochester";
            font-weight: 400;
        }
        
    }   

    .presentacion{
        max-width: 50%;
        margin: 50px auto;      
        
        font-size: 2rem;            
            
        
        p{
            font-family: "Rochester";
            line-height: 46px;
            font-weight: 400;
        }
    }

    .protocolo{
        margin: 5% auto;
        
        .back{
            background-color: rgba($color: #000000, $alpha:0.4);
            border-radius: 60px;
            margin: auto;
        }
        .subtitulo{
            height: 60px;
            max-width: 290px;
            margin: 15px auto;

            display: flex;
            justify-content: center;
            align-items: center;            

            h3{
            
                color: #D75F04;
                font-size: 2.5rem;
                font-weight: 700;            
            }
        }        
        .contenido{
            max-width: 800px;
            height: 290px;
            margin: auto;
            display: flex;
            justify-items: center;

            ul{
                width: 700px;
                margin: auto auto 25px auto; /*Revisar*/
                list-style: none;
                text-align: left;
                li{
                    line-height: 42px;
                    font-size: 2rem;
                    font-weight: 400;
                }
            }
        }
    }

    /*SERVICIOS*/
    .contenedor-h1-servicios{
        
        background-color: rgba(31, 153, 43, 0.31);;
        border-radius: 50%;
        width: 320px;
        height: 150px;
        margin: 50px auto;

        display: flex;
        justify-content: center;
        align-items: center;

        h1{
            display: flex;
            flex-direction: column;
            
            .titulo-servicios{
                color: $color-titulo;
                font-size: 2.3rem;
            }
            .sentirse-bien{
                font-size: 3rem;
            }
            
        }
    }

    .caja-servicios-banner
    {
        width: 100%;
        height: 60vh;
        position: relative;
        .contenedor-aviso-adv
        {
            width: 600px;
            position: absolute;
            top:15%;
            left: 18%;

            h3{
                color: black;
                font-weight: 700;
                font-size: 2.5rem;
                text-decoration: underline;
                width: 700px;
            }
            p{
                background-color:rgba(31, 153, 43, 0.31); 
                border-radius: 20px;
                border-style: solid;
                border-color: red;
                font-family: "Raleway";
                font-size: 2rem;
                font-weight: 400;
                color:#7C379C;
                span{
                    color: black;
                    text-decoration: underline;
                }
                width: 700px;
            }    
        }
    }    

    /*Turnos*/
    .titulo-turnos{
        margin-top: 10px;
        color: white;
    }

    .contenedor-sexos{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        gap: 10px;
        
    }    

}



