main{
    text-align: center;
}

.presentacion{
    max-width: 50%;
    margin: 75px auto;
    font-size: 2rem;

    /*H1*/
    h1{        
        color: $color-titulo;
        span{
            color: $color-titulo;
            font-family: "Rochester";
        }
    }    
    
    p{font-family: "Rochester";}
}